<!DOCTYPE html>
<html>
    <head>
        <script>
            function add(){
                location.href = "/board/add";
            }
            function info(no){
                location.href = "/board/info?no="+no;
            }
            function logout(){
                location.href = "/logout"
            }
        </script>
        <%- include("./head.ejs") %>
    </head>
    <body>
        <%- include("./navbar.ejs") %>
        <div style="margin: 40px 100px;" >
            <h2>게시판</h2>
            <table class = "table" style="width: auto;">
                <tr>
                    <th style="width: auto">No</th>
                    <th style="width: auto;">Title</th>
                    <th style="width: auto;">Author</th>
                    <th style="width: auto;">Date</th>
                    <th style="width: auto;">Time</th>
                </tr>
                <%if(content.length == 0){%>
                    <tr>
                        <td colspan="5">해당 게시판은 게시글이 없습니다</td>
                    </tr>
                <%}else{
                    for(var i = 0; i < content.length; i++){%>
                        <tr onclick="info('<%=content[i].No%>')">
                            <td><%=content[i].No%></td>
                            <td><%=content[i].title%></td>
                            <td><%=content[i].author%></td>
                            <td><%=content[i].date%></td>
                            <td><%=content[i].time%></td>
                        </tr>
                    <%}
                }%>
            </table>
            <div style="margin-top:40px;">
                <button class="btn btn-outline-primary" onclick="add()">글쓰기</button>
            </div>
        </div>
    </body>
</html>
